body, html {
	height: 99%;
}

#map {
	height: 90%;
	width: 100%;
	border-radius: 6px;
}

#topBar {
	position: relative
}

#routeSelect {
	position: relative;
	z-index: 1;
	transform: translateY(70%);
	float: right;
}

#geoLocLink {
	text-align: center;
	font-size: 4em;
	display: block;
	color: #indigo;
}

#geoLocLink:hover {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0000ff;
}

#addressBarHolder {
	float: left;
	width: 75%;
	padding: 20px;
}

#addressBar {
	width: 100%;
	font-size: 2em;
	font-color: #999999;
}

.vehicleMarker {
	border: 3px solid white;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: white;
	line-height: 30px;
	text-align: center;
}

.Bus {
	background: #093415;
}

.Tram {
	background: #9a2617
}

.Train {
	background: #6600ff
}

