 <!DOCTYPE html>
<html ng-app='commuteApp'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>HSL MQTT Map</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css" />

		<script
			src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
		</script>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?libraries=places">
		</script>

		<script src="bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
		<link rel="stylesheet" href="bower_components/angular-google-places-autocomplete/src/autocomplete.css">

		<script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
		<script src="bower_components/lodash/dist/lodash.min.js"></script>

		<script src="bin/index.js"></script>
	</head>
<body>


<div class="container-fluid">
	<div id="topBar" class="row">
		<div id="addressBarHolder" class="col-xs-7 col-md-9" ng-controller="AddressBarController">
			<form id="addressForm" class="form">
				<input
				type="text"
				id="addressBar"
				placeholder="Go to address..."
				g-places-autocomplete
				ng-model="selectedPos"
				ng-change="updatePos(selectedPos);">
				</input>
			</form>
		</div>
		<div class="col-xs-2 col-md-1" ng-controller="AddressBarController">
			<span id="geoLocLink" ng-click="gotoCurrentLocation();">&#x2316;</span>
		</div>
		<div id="routeSelect" class="col-xs-3 col-md-2"
			ng-controller="RouteSelectController">
			<ng-dropdown-multiselect
			options="routeOptions"
			selected-model="selectedRoutes"
			extra-settings="selectSettings"
			group-by="type"
			events="{onItemSelect: cacheDataToMap,
				 onItemDeselect: cacheDataToMap,
				 onSelectAll: cacheDataToMap,
				 onUnselectAll: cacheDataToMap}">
			</ng-dropdown-multiselect>
		</div>
	</div>
</div>

<vehicle-map id="map"></vehicle-map>

</body>
</html>

